
body {
	font-family: 'Open Sans Condensed', sans-serif;
}
#all-nav{
	border-style: solid;
	border-color: navy;
	background-color: pink;
	padding-top: 20px;
	padding-bottom: 20px 
}
.box-1{
	text-decoration:none;
	padding-left: 15px;
	width: 30%;
}
#new-1{
	float: left;
}
#new-3{
	float: right;
}
p {
	font-size: 20px;
}
#img-float {
	float: left;
	margin:20px;
	width: 300px;
}
.p-class{
	margin: 25px;
	padding: 15px;
}
#float{
	border-style:double; 
	border-width: 5px;
	border-color:rgb(222, 126, 204); ;
	border-radius: 15px;
	background-color: rgb(255, 232, 252); 
	overflow: auto;
}
h2 {
	text-align: center;
}
#interview {
	border-style: double;

}