body{
	font-family: 'Open Sans Condensed', sans-serif;

}
#heading { text-align: center;
 border-style: solid;
 color:navy; 
background:pink;
font-variant: bold;
font-size: 40px}

.right {text-align: right;}

.left{text-align: left;}

#div-float{
	overflow: auto;
	border: solid 1px pink;
	background: navy;
}

.p-class{
	margin:35px;
	padding:25px;
}

{font-family: 'Open Sans Condensed', sans-serif;}


#lefttext {text-align: left;
background-color: pink}

#righttext {text-align: right;
background-color: pink}