body{
	font-family: 'Open Sans Condensed', sans-serif;

}
#heading { text-align: center;
 border-style: solid;
 color:navy; 
background:pink;
font-variant: bold;
font-size: 40px}

.right {text-align: right;}

.left{text-align: left;}

#div-floatl{ text-align: left;
	overflow: auto;
	border: solid 15px pink;
	background: navy;
padding: 35px;}

#div-floatr{
	overflow: auto;
	border: solid 15px navy;
    background: pink;
padding: 35px;}

.p-class{
	margin:35px;
	padding:25px;
}

{font-family: 'Open Sans Condensed', sans-serif;}

#kit { background-color: pink;
text-align:center;
margin: 50px;
padding: 10px;
border: dotted; }

h1 { text-align: center; }

#k {font-size: 40px;}
#a {font-size: 40px;}

.clearfix { overflow: auto; }

#center {text-align: center;}